@charset "UTF-8";

body {
  background-color: #111;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  color: #222;
}

h3 {
  font-size: 1.5em;
}

section {
  margin: 0px;
  padding: 20px;
}

/* box wrap inside the pure grid */
.box {
  margin: 30px 10px;
}

.shellbox {
  background-color: #ccc;
}

p {
  color: #333;
  font-weight: 100;
}

.light {
  font-weight: 100;
}

/* Pure Responsive Nav */


.custom-wrapper {
          background-color: rgba(0,0,0,0.0);
          margin-top: 1.5em;
          margin-bottom: 2em;
          -webkit-font-smoothing: antialiased;
          height: 2em;
          overflow: hidden;
          -webkit-transition: height 0.5s;
          -moz-transition: height 0.5s;
          -ms-transition: height 0.5s;
          transition: height 0.5s;
      }
      
.custom-wrapper.open {
          height: 14em;
      }
      
.custom-menu-3 {
          text-align: right;
      }
      
.custom-toggle {
          width: 34px;
          height: 34px;
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          display: none;
      }
      
.custom-toggle .bar {
          background-color: #777;
          display: block;
          width: 20px;
          height: 2px;
          border-radius: 100px;
          position: absolute;
          top: 18px;
          right: 7px;
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -ms-transition: all 0.5s;
          transition: all 0.5s;
      }
.custom-toggle .bar:first-child {
          -webkit-transform: translateY(-6px);
          -moz-transform: translateY(-6px);
          -ms-transform: translateY(-6px);
          transform: translateY(-6px);
      }
.custom-toggle.x .bar {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
      }
      
.custom-toggle.x .bar:first-child {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
      }

.pure-menu {
  font-size: 1.5em;
}

.pure-menu-heading, .pure-menu-link {
  color: #fff;
  font-weight:100;
  padding-left: 15px;
  padding-right: 0;
  line-height: 0.6em;
}

.pure-menu-link:hover, .pure-menu-link:active, .pure-menu-link:focus {
  background-color: rgba(0,0,0,0.0);
}

.menu-center {
  text-align: center;
}

.menu-right {
  text-align: right;
  padding-right:20px;
}

.menu-right a {
  position: relative;
  top: -6px;
}



/* Home / masthead */

#home {
  width: 100%;
  height: 800px;
  background: url('../image/head.jpg') no-repeat fixed;
  background-position: 30%;
  background-size: cover;
}

#home h1 {
  padding-top: 100px;
  font-size: 4em;
}

#home h2 {
  padding-top: 10px;
}

.head {
  color: #fff;
  text-align:center;
}

.radiobox {
  background-color: rgba(255,255,255,0.8);
  height: 400px;
  margin: 30px;
}



/* wrapper */

.wrapper {
  max-width: 1200px;
  background-color: rgba(255,255,255,0.5);
  margin: auto;
}


/* schedule */

.schedulebox {
  background-color: #222;
  border-top: 1px #ddd solid;
}

.schedulebox h4 {
  color: #eee;
}

/* footer */

footer {
  background-color: #000;
}

.footercontent {
  color: #ddd;
  font-weight: 100;
  font-size: 1em;
  text-align: left; /* consider center for mobile */
} 

.footercontent ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footercontent a {
  color: #ddd;
  text-decoration: none;
}

.footerlogo {
  color: #fff;
  font-size: 2em;
  font-weight: 700;
  text-align: left; /* consider center for mobile */
}

.enlarge {
  font-size:2em;
}

.copyright {
  background-color: #333;
  color: #aaa;
  font-size: 0.8em;
  text-align: center;
  padding: 10px;
}

@media (max-width: 768px) {

  body {
    font-size: 1.2em;
  }
      
  .custom-menu-3 {
      text-align: left;
  }

  .custom-toggle {
      display: block;
  }

  .footerlogo, .footercontent {
    text-align: center;
  }   

  footer .box {
    margin: 15px;
  }

}


@media (max-width:568px) {
  body {
    font-size: 1.1em;
  }
}